.edit-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 38px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    display: block;
    position: absolute;
    top: 168px;
    left: 187px;
    cursor: pointer;
  };

.edit-button:focus {
    outline-color: greenyellow;
  }
  